version: '3.9'

services:
  db:
    image: postgres:15
    container_name: notes-db
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    ports:
      - "5433:5432"
    volumes:
      - db-data:/var/lib/postgresql/data

  backend:
    build: ./backend
    container_name: notes-backend
    env_file:
      - .env
    ports:
      - "${PORT}:4000"
    depends_on:
      - db

  frontend:
    build: ./frontend
    container_name: notes-frontend
    ports:
      - "3000:80"
    depends_on:
      - backend

volumes:
  db-data: